.content{
    background-color: rgb(255, 255, 255);
    width: 800;
    text-align:center;
    border-radius: 0px;
    margin: 0 auto;
    
    min-height: 300px;
}

h2{

    text-align: center;
    font: Verdana;
    color: black;
}

.text-upload{

    width: 400px;
    height: 100px;
    min-width: 500px;
    max-width: 500px;
    min-height: 100px;
    max-height: 300px;
    border: 1px solid black;
    padding:5px;
    margin-right: -5px;
}

.submit-post{

    background-color: rgb(142, 185, 185);
    width: 100px;
    height: 30px;
    border-radius: 15px 15px;
    border: none;
    cursor: pointer;
    float: right;
    margin-right: 40px;
}

.submit-post:hover{

    opacity: 0.9;
}

.choose-file ::-webkit-file-upload-button::before{

    content: 'Select some Media';
    display: inline;
}

.choose-file{

    background-color: #8eb9b9;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}

#file-choose:hover{

    opacity:0.9;
   

}
#file-choose{
    margin-left:50px;
    right:100px;
}






