@import url('https://fonts.googleapis.com/css?family=Bondoni Moda:200,300,400,500,600,700,800,900&display=swap');

body{

    background-color: rgb(214, 213, 211);
    height: fit-content;
}

#header_bar{
    height:50px;
    background: whitesmoke;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5000;
    
}
#search-box{
    width:700px;
    height: 20px;
    border-radius: 5px;
    padding: 4px;
    border: 1px solid black;
    font-size: 14px;
    padding-left: 10px;

}

.logo
{
    position:relative;
    font-family: Bondoni Moda;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

#user-profile-content{
    width: 800px;
    margin: auto;
    min-height: 400px;
}

#profile-picture{

    width: 150px;
    margin-top: -250px;
    border: solid 2px white;
    border-radius: 50%;
}


.menu-button{

    width: 100px;
    display: inline-block;
    margin: 2px;
    font-size: 16px;
    color: rgb(4, 1, 141);
}

.menu-button a{

    text-decoration: none;
    color: rgb(7, 4, 150);
}

.menu-button:hover{

    text-decoration: underline;
    cursor: pointer;
}

#username-profile{

    font-size: 20px;
}

#friends_img{

    width: 50px;
    float: left;
    margin: 8px;
    transition: transform .2s;
}

#friends_img:hover{
    transform: scale(1.5);
}

#friends-bar{

    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    color: rgb(107, 107, 107);
    padding: 8px;
}

#friends{
    clear: both;
    font-size: 15px;
    font-weight: bold;
    color: #405d9b;
}

textarea{

    width: 600px;
    border: none;
    font-family: tahoma;
    font-size: 14px;
    height: 60px;
}

#post-button-submit{

    float: right;
    background-color: rgb(21, 88, 212);
    border: none;
    color: white;
    font-size: 14px;
    width: 60px;
    border-radius: 2px;
}

#share-text{

    width: 700px;
}

#post-bar{

    margin: 0;
    width: 100%;
}

#friends_img{

    width: 45px;
    margin: 5px;
}

#p-settings{

    position: -webkit-sticky;
    position: sticky; 
    position:absolute;
    top:10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.options-settings:hover{

    text-decoration: underline;
    transition: 0.3s;
    cursor: pointer;
}
  
.options-settings{

    height:20px;

}

#all-sett{

    position: -webkit-sticky;
    position: sticky; 
    top:50px;
    width:unset;
    height: auto;
}
