@import url('https://fonts.googleapis.com/css?family=Bondoni Moda:200,300,400,500,600,700,800,900&display=swap');

#header_bar{
    height:60px;
    background: #bec1d4;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#search-box{
    width:400px;
    height: 20px;
    border-radius: 5px;
    padding: 4px;
    border: 1px solid black;
    font-size: 14px;

}

.logo
{
    position:relative;
    font-family: Bondoni Moda;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

#user-profile-content{
    width: 800px;
    margin: auto;
    height: 400px;
}

#profile-picture{

    width: 150px;
    margin-top: -250px;
    border: solid 2px white;
    border-radius: 50%;
}

#menu-button{

    width: 100px;
    display: inline-block;
    margin: 2px;
    font-size: 18px;
}

#menu-button a{

    text-decoration: none;
    color: black;
}

#menu-button:hover{

    text-decoration: underline;
}

#username-profile{

    font-size: 25px;
}

#friends-img{

    width: 50px;
    float: left;
    margin: 8px;
}

#friends-bar{

    background-color: white;
    min-height: 400px;
    margin-top: 20px;
    color: rgb(107, 107, 107);
    padding: 8px;
}

#friends{
    clear: both;
    font-size: 15px;
    font-weight: bold;
    color: #405d9b;
}

textarea{

    width: 600px;
    border: none;
    font-family: tahoma;
    font-size: 14px;
    height: 60px;
}

#post-button-submit{

    float: right;
    background-color: rgb(21, 88, 212);
    border: none;
    color: white;
    font-size: 14px;
    width: 60px;
    border-radius: 2px;
}

#share-text{

    width: 700px;
}

#post-bar{

    margin: 0;
    width: 100%;
}