
@import url('https://fonts.googleapis.com/css?family=Courier:200,300,400,500,600,700,800,900&display=swap');
#user-post-info{

    text-align: center;
    display:flex ,block;
    width: 700px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    max-width: 50rem;
    height:fit-content;
    overflow:unset;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    transition: opacity 0.5 ease 0.4s;
}


.post-header{
    background-color: rgb(255, 255, 255);
    height: 60px;
    text-align: left;
    padding: 8px;
    border-radius: 0px;
    display: flex;
}

.author_name{

    padding-left: 10px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-family: Poppins, sans-serif;
}

.author_name:hover{
    cursor: pointer;
}

.post-date{

    padding-left: 20px;
    font-size: small;
}

.post-date small{

    background: rgb(216, 216, 216);
}

.author_name:hover{

    text-decoration: underline;
}

#content-post{
    height: auto;
    background-color: rgb(214, 213, 211);
    float:none;
    
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

#content-post::-webkit-scrollbar{

    width: 12px;
    height: auto;
    background-color: hsl(0, 0%, 53%);
    color: black;
    display: none;
}

#user-info{
    
    width: 50px;
    height: 25px;
    background: black;
}

.post-footer{

    height: 55px;
    text-align: left;
    padding: 20px;
    border-radius: 0px;
    display: flex;
    background: rgb(255, 255, 255);
    padding-bottom: 0px;
    font-family: Poppins, sans-serif;
}

iframe{

    border: none;
}

.like-button{
    padding-right: 10px;
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
    font-size: medium;
    height: fit-content;
}

.dislike-button{
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: medium;
    height: fit-content;
}

.comment-txt{

    padding-right: 10px;

}
.comment-txt:hover{

    text-decoration: underline;
    cursor: pointer;
}

.report-txt:hover{

    text-decoration: underline;
    cursor: pointer;
}

.user-post-description{

    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 0px;
    width: 650px;
    justify-content: center;
    margin: auto;
}

.user-post-description text{

    font-family: 'Courier New', Courier, monospace;
    font-weight:500;
    width: 650px;
    overflow-x: hidden;
}

section .post-content{

    display: flex;
}


.comment-link{

    text-decoration: none;
    color: black;
    height: 15px;
}

.report-link{

    text-decoration: none;
    color: black;
    height: 15px;
}

.verified{

    padding-left: 10px;
    font-size:x-small;
}

.user-file{

    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}





.share-link{

    text-decoration: none;
    color: black;
    padding-left: 10px;
    height: 15px;
}

#news-feed{

    background-color: #d6d5d3;
    padding-left: 10px;
}

.edit-link{

    text-decoration: none;
    color: rgb(134, 134, 134);
    padding-left: 10px;
    height: 15px;
}
.delete-link{

    text-decoration: none;
    color: rgb(131, 131, 131);
    padding-left: 10px;
    height: 15px;
}

#user-information{

    padding-right: 400px;
    width: auto;
}

.add-user span{

    cursor: pointer;
    padding-top: 0px;
    font-family: Roboto, Arial, sans-serif ;
}

.add-user:hover{

    opacity: 0.7;
    transition: 0.3s;
}
