#user-post-info{

    text-align: center;
    display: block;
    width: 600px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    max-width: 50rem;
    height:fit-content;
    overflow:unset;
}


.post-header{
    background-color: rgb(255, 255, 255);
    height: 60px;
    text-align: left;
    padding: 8px;
    border-radius: 15px;
    display: flex;
    
}

.author_name{

    padding-left: 10px;
    font-size: medium;
    text-decoration: none;
    color: black;
}

.author_name:hover{
    cursor: pointer;
}

.post-date{

    padding-left: 20px;
    font-size: small;
}

.post-date small{

    background: rgb(216, 216, 216);
}

.post-date:hover{
    cursor: pointer;
}

.author_name:hover,
.post-date:hover{

    text-decoration: underline;
}

#content-post{
    height: 250px;
    background-color: #2b2a2a ;
    float:none;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 800px;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

#content-post::-webkit-scrollbar{

    width: 12px;
    height: auto;
    background-color: hsl(0, 0%, 53%);
    color: black;
    display: none;
}

#user-info{
    
    width: 50px;
    height: 25px;
    background: black;
}

.post-footer{

    height: 60px;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    background: rgb(255, 255, 255);
    padding-bottom: 10px;
}

iframe{

    border: none;
}

.like-button{
    padding-right: 10px;
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
    font-size: medium;
}

.dislike-button{
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: medium;
}

.comment-txt{

    padding-right: 10px;

}
.comment-txt:hover{

    text-decoration: underline;
    cursor: pointer;
}

.report-txt:hover{

    text-decoration: underline;
    cursor: pointer;
}

.user-post-description{

    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 5px;
}

section .post-content{

    display: flex;
}

.comment-link{

    text-decoration: none;
    color: black;
}

.report-link{

    text-decoration: none;
    color: black;
}

.verified{

    padding-left: 10px;
    font-size:x-small;
}

.user-file{

    text-align: center;
    align-items: center;
    justify-content: center;
}

.share-link{

    text-decoration: none;
    color: black;
    padding-left: 10px;
}

#news-feed{

    background-color: white;
    padding-right: 0px;
}