@import url('https://fonts.googleapis.com/css?family=Bondoni Moda:200,300,400,500,600,700,800,900&display=swap');

#header_bar{
    height:50px;
    background: #444444;
    color: white;
}
#search-box{
    width:400px;
    height: 20px;
    border-radius: 5px;
    border: none;
    padding: 4px;
    font-size: 14px;
}

.logo
{
    position:relative;
    font-family: Bondoni Moda;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

#user-profile-content{
    width: 800px;
    margin: auto;
    height: 400px;
}

#profile-picture{

    width: 150px;
    margin-top: -250px;
    border: solid 2px white;
    border-radius: 50%;
}

#menu-button{

    width: 100px;
    display: inline-block;
    margin: 2px;
}

#username-profile{

    font-size: 25px;
}

#friends-img{

    width: 50px;
    float: left;
    margin: 8px;
}

#friends-bar{

    background-color: white;
    min-height: 400px;
    margin-top: 20px;
    color: rgb(107, 107, 107);
    padding: 8px;
}

#friends{
    clear: both;
    font-size: 15px;
    font-weight: bold;
    color: #405d9b;
}

textarea{

    width: 100%;
    border: none;
    font-family: tahoma;
    font-size: 14px;
    height: 60px;
}